body {
    background-color: white;
    text-align: center;
}

h1 {color: lightgray;
    font-family: Lobster, SansSerif;
    }
.silver-background {
    background-color: antiquewhite;
}

.box {
    border-style:solid;
    border-color:black;
    border-width: 5px;
    text-align: center;
}

.red-text {
    color: red;
}

p {
    font-size: 16px;
    font-family: SansSerif;
    text-align: center;
}

.smaller-image {
    width: 100px;
}

.thick-white-border {
    border-width: 10px;
    border-style: solid;
    border-color: white;
    border-radius:2px;
}